
#topic{
  color: aqua;
}
body {
  text-align: center;
  background-color: rgb(71, 122, 24);
}
 
.cell {
  height: 100px;
  width: 130px;
  border: 1.5px solid rgb(105, 30, 30);
  border-style: inset;

  
} 

.blackcell {
  background-color: rgb(118, 154, 190);
}

.whitecell {
  background-color:lightyellow;
}
.reduce{
  height: 60px;
  width: 60px;
  margin-left: 3px;
 
}
.reduce2{
  height: 80px;
  width: 80px;
  margin-left: 18px;
  
}