.main{
    display: flex;
    justify-content: space-around;
    
}
.item{
    text-align: center;
    margin-bottom: 10px;
   margin-left: 40px;
    width: 180px;
    height:60px;
    padding: 40px;
    border: 1px solid blueviolet;
    display: flex;
}
.head{
    display: flex;
    justify-content: space-evenly;
    
}