.head{
    display: flex;
    justify-content: center;
    
}
.item{
    
    text-align: center;
    margin-bottom: 10px;
   margin-left: 40px;
    width: 280px;
    height:80px;
    border: 1px solid blueviolet;
}